<!DOCTYPE html>
<html>
<head>
    <title>Deep Learning Web Services</title>
    <style>
        * {
            font-size:30px;
        }
    </style>
</head>
<body>

    <!--Cat/dog classification -->
    <h1 style="font-size:150%">Cat/Dog Classification</h1>
    <input id="image-selectorCD" type="file">
    <button id="predict-buttonCD">Dog/Cat Classifier [VGG16 - Imagenet]</button>
    <p style="font-weight:bold">Predictions</p>
    <p>Dog: <span id="dog-prediction"></span></p>
    <p>Cat: <span id="cat-prediction"></span></p>
    <img id="selected-imageCD" src=""/>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        let base64Image;
        $("#image-selectorCD").change(function() {
            let reader = new FileReader();
            reader.onload = function(e) {
                let dataURL = reader.result;
                $('#selected-imageCD').attr("src", dataURL);
                base64Image = dataURL.replace("data:image/jpeg;base64,","");
                console.log(base64Image);
            }
            reader.readAsDataURL($("#image-selectorCD")[0].files[0]);
            $("#dog-prediction").text("");
            $("#cat-prediction").text("");
        });

        $("#predict-buttonCD").click(function(){
            let message = {
                image: base64Image
            }
            console.log(message);
            $.post("http://localhost:5000/catORdog", JSON.stringify(message), function(response){
                $("#dog-prediction").text(response.prediction.dog.toFixed(6));
                $("#cat-prediction").text(response.prediction.cat.toFixed(6));
                console.log(response);
            });
        });
    </script>



    <!--Object detection - image-->
    <h1 style="font-size:150%">Object-detection Image</h1>
    <input id="image-selectorOD" type="file">
    <button id="predict-buttonOD">Object Detector [Yolo_v3(Darknet) - Coco]</button>
    <img id="selected-imageOD" src=""/>
    <p style="font-weight:bold">Predictions</p>
    <img id="selected-imageOD1" src="">
    <a id="OD1-dl" href="">Download</a>

    <script>
        let base64ImageOD;
        $("#image-selectorOD").change(function() {
            let reader = new FileReader();
            reader.onload = function(e) {
                let dataURL = reader.result;
                $('#selected-imageOD').attr("src", dataURL);
                base64ImageOD = dataURL.replace("data:image/jpeg;base64,","");
                console.log(base64ImageOD);
            }
            reader.readAsDataURL($("#image-selectorOD")[0].files[0]);

        });

        $("#predict-buttonOD").click(function(){
            let message = {
                image: base64ImageOD
            }
            console.log(message);
            $.post("http://localhost:5000/Yolov3DetectI", JSON.stringify(message),function(response){
            $('#selected-imageOD1').attr("src","{{ url_for('static', filename='images_temp/test.jpg') }}");
            });
            $('#OD1-dl').attr("href","http://localhost:5000/Yolov3DI");
        });
        
    </script>
    
    <!--Object detection - video -->
    <h1 style="font-size:150%">Object-detection Video</h1>
    <input id="video-selector" type="file" accept=".mp4">
    <button id="predict-buttonODV">Object Detector [Yolo_v3(Darknet) - Coco]</button>
    <video id="selected-video" controls width="500" style="center" type="video/mp4" autoplay>
    </video>
    <video id="selected-videoOD" controls width="500" style="center" type="video/mp4" autoplay>
    </video>
    <img id="selected-videoOD" src=""/>
    <p style="font-weight:bold">Predictions</p>
    <img id="selected-videoOD1" src="">
    <a id="ODV1-dl" href="">Download</a>

    <script>
        let base64VideoOD
        $("#video-selector").change(function() {
            let reader = new FileReader();
            reader.onload = function(e) {
                dataURL = e.target.result;
                $('#selected-video').attr("src", dataURL);
                base64VideoOD = dataURL.replace("data:video/mp4;base64,","");
                console.log(base64ImageOD);
            }
            reader.readAsDataURL($("#video-selector")[0].files[0]);

        });

        $("#predict-buttonODV").click(function(){
            let message = {
                video: base64VideoOD
            }
            console.log(message);
            $.post("http://localhost:5000/Yolov3DetectV", JSON.stringify(message),function(response){
            $('#selected-videoOD').attr("src","{{ url_for('static', filename='images_temp/test.jpg') }}");
            });
            $('#ODV1-dl').attr("href","http://localhost:5000/Yolov3DV");
        });
        
    </script>

</body>
</html>
